<mat-table  [dataSource]="books">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.id }}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.name }}</mat-cell>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef>Ano</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.year }}</mat-cell>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef>Autor</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.author }}</mat-cell>
  </ng-container>

  <!-- Gender Column -->
  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef>Gênero</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.gender }}</mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column-header">Ações</mat-header-cell>
    <mat-cell *matCellDef="let book" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar livro">
        <mat-icon (click)="onEdit(book)">edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Remover livro">
        <mat-icon (click)="onDelete(book)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>