<mat-card>
  <mat-card-header>
    <mat-card-title>Entrar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="legacy">
      <mat-label>Login</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Senha</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Entrar</button>
    <button mat-raised-button (click)="onAdd()">Cadastro</button>
    <button mat-flat-button>Esqueci minha Senha</button>
    <button mat-flat-button (click)="onBooks()">Livros!</button>
  </mat-card-actions>
</mat-card>